<% include ../partials/header %>

<div class="row">
  <div class="col-md-3">
    <p class="lead">Yelp Camp</p>
    <div class="list-group">
      <li class="list-group-item active">Info 1</li>
      <li class="list-group-item">Info 2</li>
      <li class="list-group-item">Info 3</li>
    </div>
  </div>
  <div class="col-md-9">
    <div id="show" class="card">
      <img src="<%= campground.image %>" alt="" class="card-img-top">
      <div id="showContent" class="card-full">
        <div class="titles">
          <h2 class="card-title">
            <a href="<%= campground.websiteURL %>">
              <%= campground.name %>
            </a>
          </h2>
          <h3 class="card-title"><%= campground.price %>/night</h3>
        </div>
        <div class="content">
          <p class="card-text"><%- campground.description %></p>
          <div class="showBottom">
            <p class="card-text"><em>Submitted by <strong><%= campground.author.username %></strong></em></p>
            <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
              <div id="showButtons">
                <a class="edit" href="/campgrounds/<%= campground._id %>/edit">
                  <button class="btn btn-sm btn-warning">
                    <i class="far fa-edit"></i> Edit
                  </button>
                </a>
                <form class="delete" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-sm btn-danger">
                      <i class="far fa-trash-alt"></i> Delete
                  </button>
                </form>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <div id="commentSection" class="card">
      <header id="commentsHeader">
        <h3 class="card-title">Comments</h3>
        <a href="/campgrounds/<%= campground._id %>/comments/new"><button class="btn btn-primary"><i class="fas fa-plus"></i> New</button></a>  
      </header>
      <ul class="list-group list-group-flush">
        <% campground.comments.forEach( comment => { %>
          <li id="comment" class="list-group-item">
            <div id="commentHeader">
              <strong><%= comment.author.username %></strong>
              <p>10 days ago</p>
            </div>
            <div id="commentContent">
              <span><%- comment.body %></span>
            </div>
            <div id="commentBottom">
              <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                <div id="commentButtons">
                  <a class="edit" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                    <button class="btn btn-sm btn-warning">
                      <i class="far fa-edit"></i> Edit
                    </button>
                  </a>
                  <form class="delete" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">
                        <i class="far fa-trash-alt"></i> Delete
                    </button>
                  </form>
                </div>
              <% } %>
            </div>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>

<% include ../partials/footer %>